body {
  background-color: #B6E3E7;
  font-family: arial;
}

h1 {
  font-family: arial;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 75px;
  font-weight: bold;
}

.button {
  background-color: #0077b6;
  border-color: #000000;
  color: white;
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  padding: 25px 25px; 
  font-size: 15px;
  border-radius: 10px;
}
