body {
  background-color: #B6E3E7;

  font-family: arial;
}
h1 {
  font-family: arial;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-size: 75px;
  font-weight: bold;
}

.button {
  background-color: #242dd6;
  border-color: #000000;
  color: white;
  padding: 30px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 15px;
}
