body {
  background-color: #1f1f1f;
  font-family: arial;
}
header {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  background-color: #303030;
}

 h1 {
      font-family: arial;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center;
      font-size: 75px;
      font-weight: bold;
      color: white;
    }

td {
  padding: 5px;
}

.button {
      font-weight: bold;
      font-size: 30px;
      color: white;
      text-align: center;
      background-color: #2b2b2b;
      border-color: #000000;
      text-decoration: none; 
      display: inline-block;
      padding: 20px; 
      border-radius: 10px;
      transition: background-color 0.3s;
      width: 200px;
      height: 125px;
    }

.button:hover {
      background-color: #1a1a1a;
      cursor: pointer;
    }

 table {
      margin: 0 auto; 
     }
